<header>
        <nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <span class="text-uppercase font-weight-bold">{{ site.title }}</span>
	</a>
  <!-- Links from navigation (Courses, Documetnation) -->
  <div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0">{% for link in site.data.navigation %}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
                            <a class="nav-link" href="{% if link.url %}{{ site.baseurl }}/{{ link.url }}{% else %}{{ link.external_url }}{% endif %}" ><span>{{ link.title_de }}</span></a>
			</li>{% endfor %}
      <!-- Versions (deactivated)
      {% if site.version_params.versioning == true %}

        {% if site.version_params.version_menu != '' %}
          <span class="nav-link ">{{site.version_params.version_menu}}:</span>
        {% endif %}
        <li class="nav-item dropdown d-none d-lg-block">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ currentpageversion }}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for version in site.version_params.versions %}
            {% capture civersion %}
              {{ version | downcase}}
            {% endcapture %}
              {% if version == site.version_params.latest %}
                <a class="dropdown-item" href="{{ site.baseurl }}{{ latestversion }}">{{version}}</a>
              {% else %}
                {% if site.version_params.version_dir != "" %}
                  {% assign versionlink = '/docs/' | append: site.version_params.version_dir | append: '/' | append: version | append: '/' %}
                {% else %}
                  {% assign versionlink = '/docs/' | append: version | append: '/' %}
                {% endif %}
                <a class="dropdown-item" href="{{ site.baseurl }}{{ latestversion | replace: '/docs/', versionlink }}">{{version}}</a>
              {% endif %}
            {% endfor %}
          </div>
        </li>

      {% endif %} -->
		</ul>
	</div>
  <!-- search deactivated
	<div class="navbar-nav d-none d-lg-block">
 <input type="search" class="form-control td-search-input" placeholder="&#xf002" aria-label="Search" autocomplete="off">
        </div>-->
    <div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
    		<ul class="navbar-nav mt-2 mt-lg-0">
          <li class="nav-item mr-4 mb-2 mb-lg-0"><a class="nav-link"><span>EN</span></a></li>
        </ul>
    </div>


	<div class="navbar-nav d-none d-lg-block">

          <a class="gh-source" data-gh-source="github" href="{{ site.repo }}" title="Go to repository" data-md-state="done">
          <div class="gh-source__repository">
            <i class="fab fa fa-github fa-2x" style='padding-right:20px; float:left; margin-top:5px'></i>
          </div></a>
        </div>



</nav>
</header>
