<div class="sidebar">
  <!-- a little bit tricky: first we check for category, then we fill it-->
<nav>
<h1><a href="{{site.baseurl}}/on-this-course/">Course</a></h1>
<ul>
{% for category in site.data.post-categories %}
     <li class="sidebar-first-level"><a href="{{site.baseurl}}/{{category.key}}">{{category.title}}</a></li>
{% endfor %}
<hr>
<h1>Concepts</h1>
<!-- provisional solution -->
  <ul>
    <li class="sidebar-first-level"><a href="{{site.baseurl}}/on-this-course/">Course, presentation of this</a></li>
    <li class="sidebar-first-level"><a href="{{site.baseurl}}/Digital-literacy/">Literacy, Digital<br/>(vs Competence, Digital)</a></li>
    <li class="sidebar-first-level"><a href="{{site.baseurl}}/Website/">Website, How To</a></li>
    </ul>

</nav>
</div>
