<div class="sidebar">
  <!-- a little bit tricky: first we check for category, then we fill it-->
<nav>
<h1><a href="{{site.baseurl}}/on-this-course/">Course</a></h1>
<ul>
{% for category in site.data.post-categories %}
     <li class="sidebar-first-level"><a href="{{site.baseurl}}/{{category.key}}">{{category.title}}</a></li>
{% endfor %}
<hr>
<h1>Concepts</h1>

  {% for category in site.data.docs-categories %}
    <ul>
      {% capture items %}
      {% for item in site.posts %}
        {% if category.title == item.category %}
        |{{ item.nav-order }}!{{ item.url }}#{{ item.title }}
        {% endif %}
      {% endfor %}
      {% endcapture %}
      {% assign sortedpages = items | split: '|' | sort %}
      {% for item in sortedpages %}
        {% assign postitems = item | split: '#' %}
        {% assign thisurl = postitems[0] | split: '!' %}
        {% if thisurl[1] == page.url %}
        <li class="active sidebar-first-level"><a href="{{site.baseurl}}{{ thisurl[1] }}">{{postitems [1]}}</a></li>
        <ul id="TOC"></ul>
        {% else %}
        <li class="sidebar-first-level"><a href="{{site.baseurl}}{{ thisurl[1] }}">{{postitems [1]}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</nav>
</div>
