---
layout: null
excluded_in_search: true
---
/*
Links & hr
header
page-division
Sidebar
footer
content
  content-info-panel
  post-content
*/

/* Links */
a {
  color: black;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
  font-style: italic;
}

hr{
  border-top: 1px;
}

/* Header */
header a {
	text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 0.95;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

header nav {
  width:100%;
}
header li {
  list-style-type: none;
  padding-right: 10px;
  padding-left: 10px;
}
header {
  position: sticky;
  background: white;
  top: 0px;
  width:99%;
}
.navbar {
  display: inline-flex;
  min-width: -webkit-fill-available;
  align-content: center;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  vertical-align: middle;

}

.navbar-nav{
  display: inline-flex;
}

.navbar ul {
	align-items: baseline;
}

/* Page-division */
.general-container{
  margin-top:1%;
}
.search-panel {
  margin-left: 30%;
}
.search-results li{
    list-style-type: none;
    font-size: 1.5em;
    padding-top: 0.5em;
}
.sidebar-and-content{
   display: inline-list-item;
}

/* Sidebar */
.sidebar {
  padding-right: 2%;
  line-height: 1.7;
  font-size: 1.2em;
  display: block;
  min-width: 25%;
  position: fixed;
  max-width: 32%;
}

.sidebar ul {
  padding-left: 10px
}

.sidebar li{
    list-style-type: none;
    padding-bottom:1%;
    text-decoration: none;
}

.sidebar-item a {
  font-size: 1em;
  padding-left: 10px;
}

.sidebar li a{
    text-decoration: none;
}

/* Footer */
footer .imprint a {
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 0.95;
  font-weight: normal;
  text-decoration: none;
  color: black;
  display: inline-flex;

}
footer li {
  list-style-type: none;
}
.footer-container{
  justify-content: space-between;
  display: flex;
}
footer .footer-col{
  display: inline-block;
}

/* Content */
.content-panel{
  margin-left: 33%;
  width: 50%;
}

/* content info-panel */
.breadcrumb {
	display: inline-flex;
	list-style: none;
  padding-left: 0px;
}

.breadcrumb-item {
  padding-right: 10px;
}

.tag-badge {
  margin-right: 1%;
  padding: 0.5% 1% 0.5% 1%;
  text-transform: uppercase;
  text-align: right;
}

.tag-badge a {
  text-decoration: none;
}

.divide-two-col {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.tags-bar {
  display: contents;
}

.version-that {
  text-align: right;
}

/* post-content */

main img {
  max-width: 90%;
  text-align: center;
}

main blockquote {
  border-left: black;
  border-left-style: groove;
  padding: 8px 10px 8px 10px;
  font-size: 1.2em;
}

.task-list-item {
    list-style-type: none;
}

h1 {
  text-transform: uppercase;
  font-size: 1.9rem;
  line-height: 0.95;
  font-weight: normal;
  color: black;
}

h2 {
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 0.95;
  font-weight: normal;
  color: black;
}
p{
  font-size: 20px;
  line-height: 1.4;
}

table{
  width:100%;
}


.hidden {
  display: none;
}

/* Skip to main content */
#skip a
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

#skip a:focus
{
position:static;
width:auto;
height:auto;
}

/* scrollbars */
::-webkit-scrollbar {
  width: 10px;
}
